/* BASICS */

body, button {
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    line-height: 1.5em;
}

body {
    background: #1e1e1e;
    color: #d4d4d4;
}

.container {
    width: 920px;
    max-width: 92%;
    margin: 0 auto;
}

/* HEADER */

header {
    background: #252525;
}

header .container {
    display: flex;
}

header a {
    padding: 1em;
    background: #2d2d2d;
    color: #969696;
    text-decoration: none;
}

header a:hover {
    background: #222;
    color: #cbcbcb;
}

header a.active {
    background: #1e1e1e;
    color: #fff;
}

header a.active:hover {
    color: #cbcbcb;
}

/* ICONS */

i.material-icons { 
    font-size: inherit;
    transform: translateY(0.15em);
}

i.material-icons.blue {
    color: #519aba;
}

i.material-icons.orange {
    color: #e37830;
}

/* HOME PAGE */

section#about {
    padding: 1em 0;
    /* background: green; */
}

section#about button#start {
    margin-top: 1em;
    padding: 0.5em 1em;
    border-style: none;
    border-radius: 0.5em;
    background: #cbcb41;
    color: #222;
}

section#about button#start:hover {
    filter: brightness(0.5);
    transition: 0.2s;
    cursor: pointer;
}